.assignment {

  .flowCount {
    color: blue;
  }

  .warn {
    color: red;
  }

  .eventLabel{
    font-size: large;
    font-weight: bold;
  }
  .cohort {
    padding: 15px;
    border: 1px solid;
  }
}